<!DOCTYPE html>
<html>
<head>
<title>Diár</title>
<link rel="stylesheet" href="/css/style.css">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Vytvorenie účtu</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>alebo použite svoj účet</span>
			<input type="text" placeholder="Meno" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Heslo" />
			<button>Registrovať</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Prihlásiť</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>alebo použite svoj účet</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Heslo" />
			<a href="#">Zabudli ste heslo ?</a>
			<button>Prihlásiť</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Vitajte speť</h1>
				<p>Už ste registrovaný ? <br> Prihláste sa pomocou svojich osobných údajov</p>
				<button class="ghost" id="signIn">Prihlásiť</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Ahoj!</h1>
				<p>Ešte nemáte svoj účet ? <br> Registrujte sa</p>
				<button class="ghost" id="signUp">Registrovať</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/javascript.js"></script>
</body>
</html>